@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    padding-left: 20%;
}

.navimg {
    margin-left: 10%;
}

#button1 {
    border-color: #17A2B8;
    color: white;
}

#button2 {
    background-color: #17A2B8;
}

.acerca {
    padding: 5%;
    text-align: center;
}

#trabajos {
    background-color: #17A2B8;
    padding: 10%;
}

#button3 {
    border-color: #17A2B8;
}

.contacto {
    padding: 5%;
}

#button4 {
    background-color: #17A2B8;
    color: white;

}